.kadi{
    color:chocolate;
}
.highlight{
    background-color:gold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 500px;
    font-weight: 600;
    text-align: left;
}
.main-text{
    font-weight: 900;
}
.hope-1{
    display: flex;
    margin-bottom: 100px;
}
.qpr{
    width: 60%;
    padding-left: 50%;

}
.tutu{
    border-left: 5px solid;
    padding-left: 10px;
}
.op{
    margin-left: 10%;
}